*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{

	background-color: #F5F5F7;

}

/* начало шапки  */
.main_container{
	width: 70%;
	margin: auto;
	background-color:#FFFFFF;
	height: 100vh;
}
nav{
	background:#141414;
	padding: 5px 40px;
}
nav li{
	list-style: none;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
}
nav ul li{
	padding: 15px 0;
	align-items: center;
	justify-content: center;
}
nav ul li.logo{
	flex:1;
	color: white;
	font-size: 25px;
	font-weight: 600;
	cursor: default;
	user-select: none;
}
nav ul li.items{
	position: relative;
	width:  auto;
	margin: 0 16px;
	text-align: center;
	order: 3;
}
nav ul li.items:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 100%;
	background: #33ffff;
	left: 0;
	bottom: 5px;
	opacity: 0;
	transition: all 0.2s linear;

	}
	nav ul li.items:hover:after{
	bottom: 8px;
	opacity: 1;

	}
nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	transition: .4s;
}
nav ul li:hover a{
	color:cyan;
}
nav ul li i{
	font-size: 23px;
}
nav ul li.btn{
	display: none;
}
nav ul li.btn.hide i:before{
	content: '\f00d';
}
/* конец шапки */



@media all and (max-width: 900px){
	nav{
		padding: 5px 30px;
	}
	nav ul li.items{
		width: 100%;
		display: none;
	}
	nav ul li.items.show{
		display: block;
	}
	nav ul li.items:hover{
		width: 100%;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #33ffff, inset 0 0 10px #66ffff;
	}
	nav ul li.items:hover:after{
		opacity: 0;

	}
	nav ul li.btn{
		display:block;
	}
}
